<!DOCTYPE html>
<%
	const PAGE_LANG = htmlWebpackPlugin.options.language;
	const isEs = PAGE_LANG.startsWith("es");
%>
<html lang="<%= PAGE_LANG %>" class="text-gray-900 antialiased leading-tight">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--[if lt IE 9]>
			<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
		<![endif]-->
</head>

<body>
	<section role="heading" class="flex flex-wrap">
		<div class="w-full lg:w-3/4">
			<h1 class="logo">
				<img src="/<%= require('./images/logo-iporaitech.svg') %>" alt="Iporaitech" />
			</h1>
		</div>
		<div class="subheading <%= PAGE_LANG %>">
			<%= require(`./partials/subheading-${PAGE_LANG}.html`) %>
		</div>
	</section>
	<main role="main">
		<div class="w-full px-6 pt-5 text-right font-medium">
			<a class="text-blue-500 text-xs hover:text-blue-800"
				href="<%= isEs ? '/en' : '/' %>"><%=isEs ? 'view in English' : 'ver en Español' %></a>
		</div>
		<h1 class="p-6 pt-2 sm:p-10 sm:text-center text-3xl">
			<%= require(`./partials/heading-${PAGE_LANG}.html`) %>
		</h1>

		<p class="bg-teal-100 px-3 sm:px-6 text-sm text-justify sm:text-center font-serif italic">
			<strong>Iporaite</strong>
			<%= require(`./partials/etimology-${PAGE_LANG}.html`) %>
		</p>

		<div class="p-6 sm:p-10">
			<h3 class="font-bold text-lg inline">
				<%= require(`./partials/weProvide-${PAGE_LANG}.html`) %>
			</h3>
			<p class="text-base inline">
				<%= require(`./partials/purpose-${PAGE_LANG}.html`) %>
			</p>

			<div class="pt-6">
				<h3 class="font-bold text-lg inline">
					<%= require(`./partials/yearsOfExp-${PAGE_LANG}.html`) %>
				</h3>
				<p class="text-base inline">
					<%= require(`./partials/working-${PAGE_LANG}.html`) %>
				</p>
			</div>
		</div>

		<div class="px-6 py-2 sm:px-10">
			<h2 class="text-2xl font-bold"><%= require(`./partials/favTech-${PAGE_LANG}.html`) %></h2>

			<div class="px-2 mt-4 sm:px-8">
				<div class="flex flex-wrap -mx-1">
					<div class="w-1/2 p-2 sm:p-8">
						<a href="https://elixir-lang.org/">
							<img class="tech-logo" src="/<%= require('./images/elixir-logo.png') %>" alt="Elixir logo" />
						</a>
					</div>
					<div class="w-1/2 p-2 sm:p-8">
						<a href="https://phoenixframework.org/">
							<img class="tech-logo" src="/<%= require('./images/phoenix-logo.png') %>" alt="Phoenix Framework logo" />
						</a>
					</div>
					<div class="w-1/2 p-2 sm:p-8">
						<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">
							<img class="tech-logo js" src="/<%= require('./images/javascript-logo.png') %>" alt="JavaScript logo" />
						</a>
					</div>
					<div class="w-1/2 p-2 sm:p-8 flex">
						<a class="self-center" href="https://reactjs.org/">
							<img class="tech-logo" src="/<%= require('./images/react-logo.png') %>" alt="React logo" />
						</a>
					</div>
					<div class="w-1/2 p-2 sm:p-8 flex">
						<a class="self-center" href="https://graphql.org/">
							<img class="tech-logo" src="/<%= require('./images/graphql-logo.png') %>" alt="GraphQL logo" />
						</a>
					</div>
					<div class="w-1/2 p-2 sm:p-8 flex">
						<a class="self-center" href="https://relay.dev/">
							<img class="tech-logo" src="/<%= require('./images/relay-logo.png') %>" alt="Relay logo" />
						</a>
					</div>
					<div class="w-1/2 p-2 sm:p-8 flex ml-auto mr-auto">
						<a class="self-center" href="https://kubernetes.io/">
							<img class="tech-logo" src="/<%= require('./images/k8s-logo.png') %>" alt="Kubernetes logo" />
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="px-6 pt-6 pb-2 sm:px-10">
			<h2 class="text-2xl font-bold mb-4"><%= isEs ? 'Nuestro blog' : 'Our blog' %></h2>
			<div id="medium-widget"></div>
			<script src="https://medium-widget.pixelpoint.io/widget.js"></script>
			<script>
				MediumWidget.Init({
					renderTo: '#medium-widget',
					params: {
						"resource": "https://elemental.medium.com",
						"postsPerLine": 1,
						"limit": 4,
						"picture": "small",
						"fields": ["description", "author", "publishAt"],
						"ratio": "original"
					}
				})
			</script>
			<h3 class="text-center text-lg">
				<a class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border
					border-blue-500 hover:border-transparent rounded" href="https://medium.com/iporaitech" title="Iporaitech's Blog">
					<%= isEs ? "Ver todo" : "View all" %>
				</a>
			</h3>

		</div>

		<div class="px-6 pt-10 pb-4 sm:px-10">
			<h2 class="text-2xl font-bold mb-4"><%= isEs ? 'Contactanos' : 'Contact us' %></h2>
			<p class="text-base">
				<%= require(`./partials/emailUs-${PAGE_LANG}.html`) %>
			</p>

			<p class="py-4 text-center">
				<a href="mailto:info@iporaitech.com"
					class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full inline-flex items-center">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
						<path class="heroicon-ui-mail"
							d="M4 4h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2zm16 3.38V6H4v1.38l8 4 8-4zm0 2.24l-7.55 3.77a1 1 0 0 1-.9 0L4 9.62V18h16V9.62z" />
					</svg>
					&nbsp;<span>info@iporaitech.com</span>
				</a>
			</p>

			<p class="py-2 text-center">
				<img id="busy-gif" class="ml-auto mr-auto w-3/4 sm:w-3/5" alt="A little bit busy gif" />
			</p>

		</div>
	</main>
	<div class="bottom-line">
		<span>
			<%= isEs 
				? 'Algunos derechos reservados | Creado por'
				: 'Some rights reserved | Created by'
			%>
		</span>
		<img src="/<%= require('./images/logo-iporaitech.svg') %>" alt="Iporaitech's logo" />
	</div>

</body>

</html>