<!DOCTYPE html>
<%
	const PAGE_LANG = htmlWebpackPlugin.options.language;
	const isEs = PAGE_LANG.startsWith("es");
%>
<html lang="<%= PAGE_LANG %>" class="text-gray-900 antialiased leading-tight">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--[if lt IE 9]>
			<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
		<![endif]-->
</head>

<body>
	<section role="heading" class="flex flex-wrap">
		<div class="w-full lg:w-3/4">
			<h1 class="logo">
				<img src="/<%= require('./images/logo-iporaitech.svg') %>" alt="Iporaitech" />
			</h1>
		</div>
		<h2 class="subheading">
			<span class="w-1/2 px-2 text-right tech-adj">Empowering</span>
			<span class="w-1/2 px-2 text-right tech-adj">Innovative</span>
			<span class="w-1/2 px-2 text-right tech-adj">Useful</span>
			<span class="w-1/2 px-2 text-right tech-adj">Beautiful</span>
			<span class="w-1/2 px-2 text-left">Technology</span></h2>
	</section>
	<main role="main">
		<h1 class="p-6 text-3xl">Computer Science and engineering to power up your ideas</h1>

		<p class="bg-teal-100 px-3 text-sm text-justify font-serif italic">
			<strong>Iporaite</strong>&nbsp;is a Guaran&iacute; word used to describe when something looks and/or works
			beautiful.
		</p>

		<div class="p-6">
			<h3 class="font-bold text-lg inline">We provide software development and consultancy services</h3>
			<p class="text-base inline">to help people and organizations bring innovation and ideas to life, nurture the
				ideas, deploy them and enjoy them.</p>

			<div class="pt-6">
				<h3 class="font-bold text-lg inline">8+ years of experience</h3>
				<p class="text-base inline">working with different teams to successfully create, deliver and
					maintain web apps and other software for different business sizes and requirements in a variety of tech
					stacks.</p>
			</div>
		</div>

		<div class="px-6 py-2">
			<h2 class="text-2xl font-bold">Some of our favourite and most used tech</h2>

			<div class="px-2 mt-4">
				<div class="flex flex-wrap -mx-1">
					<div class="w-1/2 px-1 py-2">
						<img class="tech-logo" src="/<%= require('./images/elixir-logo.png') %>" alt="Elixir logo" />
					</div>
					<div class="w-1/2 px-1 py-2">
						<img class="tech-logo" src="/<%= require('./images/phoenix-logo.png') %>" alt="Phoenix Framework logo" />
					</div>
					<div class="w-1/2 px-1 py-2">
						<img class="tech-logo js" src="/<%= require('./images/javascript-logo.png') %>" alt="JavaScript logo" />
					</div>
					<div class="w-1/2 px-1 py-2 flex">
						<img class="tech-logo self-center" src="/<%= require('./images/react-logo.png') %>" alt="React logo" />
					</div>
					<div class="w-1/2 px-1 py-2 flex">
						<img class="tech-logo self-center" src="/<%= require('./images/graphql-logo.png') %>" alt="GraphQL logo" />
					</div>
					<div class="w-1/2 px-1 py-2 flex">
						<img class="tech-logo self-center" src="/<%= require('./images/relay-logo.png') %>" alt="Relay logo" />
					</div>
					<div class="w-1/2 px-1 py-2 flex ml-auto mr-auto">
						<img class="tech-logo self-center" src="/<%= require('./images/k8s-logo.png') %>" alt="Kubernetes logo" />
					</div>
				</div>
			</div>
		</div>

		<div class="px-6 pt-6 pb-2">
			<h2 class="text-2xl font-bold mb-4">Our blog</h2>
			<div id="medium-widget"></div>
			<script src="https://medium-widget.pixelpoint.io/widget.js"></script>
			<script>
				MediumWidget.Init({
					renderTo: '#medium-widget',
					params: {
						"resource": "https://elemental.medium.com",
						"postsPerLine": 1,
						"limit": 4,
						"picture": "small",
						"fields": ["description", "author", "publishAt"],
						"ratio": "original"
					}
				})
			</script>
			<h3 class="text-center text-lg">
				<a class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border
					border-blue-500 hover:border-transparent rounded" href="https://medium.com/iporaitech">View all</a>
			</h3>

		</div>

		<div class="px-6 pt-10 pb-4">
			<h2 class="text-2xl font-bold mb-4">Contact Us</h2>
			<p class="text-base">
				Just send us an email and we'll reply back as soon as possible.
			</p>

			<p class="py-4 text-center">
				<a href="mailto:info@iporaitech.com"
					class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full inline-flex items-center">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
						<path class="heroicon-ui-mail"
							d="M4 4h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2zm16 3.38V6H4v1.38l8 4 8-4zm0 2.24l-7.55 3.77a1 1 0 0 1-.9 0L4 9.62V18h16V9.62z" />
					</svg>
					&nbsp;<span>info@iporaitech.com</span>
				</a>
			</p>

			<p class="py-2 text-center">
				<img id="busy-gif" class="ml-auto mr-auto w-3/4" alt="A little bit busy gif" />
			</p>

		</div>
	</main>
	<div class="bottom-line">
		<span class="text-xs">Some rights reserved | Created by</span>
		<img src="/<%= require('./images/logo-iporaitech.svg') %>" alt="Iporaitech's logo" />
	</div>

</body>

</html>